360vr/node_modules
WebRTC/node_modules
WebRCT.v2/node_modules
chunksFileUpload/node_modules
chunksFileUpload/uploads/*
server/node_modules
server/proxy_public/uploads/*
server/privatePem.txt
server/publicPem.txt
vueforVite/node_modules
vueforVite/dist
reactForVite/dist
reactForVite/node_modules
web-compenent/node_modules