@font-face {
  font-family: "number";
  src: url(number.ttf) format("truetype");
}

audio {
  display: none;
}

.ac-size {
  margin: 0 auto;
  width: 85%;
  min-width: 250px;
  max-width: 500px;
}

.ac {
  position: relative;
  height: 150px;
  border-radius: 10px 10px 20px 20px;
  border: 1px solid #e0e0e0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 3px -2px, rgba(0, 0, 0, 0.14) 0 3px 4px 0,
    rgba(0, 0, 0, 0.12) 0 1px 8px 0;
  overflow: hidden;
}

.ac .top {
  margin-top: 8px;
  border: 1px solid #e0e0e0;
}

.ac .logo {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 70px;
  background: url(./png.png);
  background-size: 100% 100%;
}

.ac .temperature {
  display: none;
  position: absolute;
  top: 25px;
  right: 30px;
  color: #ccc;
}

.ac .temperature .number b {
  font-weight: normal;
  font-size: 32px;
  font-family: "number";
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.ac .temperature .number i {
  font-size: 28px;
  font-style: normal;
  font-family: "number";
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.ac .temperature .mode {
  display: block;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
}

.ac .status {
  display: block;
  position: absolute;
  right: 10px;
  bottom: 15px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #e0e0e0;
}

.ac .status.on {
  background: #38f709;
}

.wind {
  display: flex;
  justify-content: space-around;
  margin: 25px auto;
  height: 44px;
  opacity: 0;
  transition: opacity 1s;
}

.wind i {
  display: block;
  width: 5px;
  height: 44px;
  background: #bbb;
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons .button {
  display: block;
  position: relative;
  margin: 8px;
  width: 56px;
  height: 56px;
  background: #f50057;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, opacity 200ms;
}

.buttons .button:active,
.buttons .button.active {
  opacity: 0.7;
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 7px -1px,
    rgba(0, 0, 0, 0.14) 0 8px 12px 0, rgba(0, 0, 0, 0.12) 0 3px 20px 0;
}

.buttons .button svg {
  fill: #fff;
  width: 50%;
  height: 50%;
  margin: 25%;
}

.buttons .button.plus svg,
.buttons .button.minus svg {
  fill: #333;
}

.buttons .button.open {
  background: #4caf50;
}

h2 {
  height: 1.8rem;
  line-height: 2rem;
  font-weight: normal;
  font-size: 0.66rem;
  text-align: center;
}

h5 {
  margin-bottom: 0.4rem;
  color: #777;
  font-weight: normal;
  font-size: 0.31rem;
  text-align: center;
  opacity: 0;
}

h5 i {
  font-style: normal;
}

h5 svg {
  position: relative;
  top: 0.1rem;
  fill: #777;
  width: 0.44rem;
  height: 0.44rem;
}

.more-link {
  display: block;
  margin: 0 auto 0.3rem;
  width: 1.8rem;
  height: 0.64rem;
  line-height: 0.64rem;
  border: 1px solid rgba(63, 81, 181, 0.5);
  color: #3f51b5;
  text-align: center;
  font-size: 0.26rem;
  border-radius: 0.1rem;
}

.bottom-link {
  display: block;
  margin: 0.5rem auto;
  width: 6rem;
  height: 0.8rem;
  line-height: 0.8rem;
  color: #888;
  font-size: 0.28rem;
  text-align: center;
}
